.container {
    @apply w-screen relative flex flex-col sm:flex-row sm:justify-between
    px-[15px] md:px-[80px] lg:px-[140px] pt-[100px] py-[50px];
}

.leftBlock {
    @apply w-full sm:w-1/2 py-[30px] flex flex-col;
}

.leftBlock h1 {
    @apply text-7xl text-white font-bold mb-[5px] italic
    bg-gradient-to-r from-[#c0392b] to-[#8e44ad];
    text-shadow: 5px 5px white;

    -webkit-text-stroke: 1px white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.leftBlock p {
    @apply text-white text-xl w-2/3 mb-[30px] font-thin;
}

.price {
    @apply text-white w-1/6 text-center py-[5px] rounded-xl border border-white;
}
.price:hover {
    @apply bg-white text-black ease-in-out;
}

.rightBlock {
    @apply w-full sm:w-1/2 flex justify-center;
}